<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>Reward Points</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <style type="text/css">
      body {
        font-family: 'Open Sans', sans-serif;
      }

      .style1 {
        font-size: 20px;
        color: #fff;
      }

      @media only screen and (max-width: 480px) {
        table#canspambartdfont-size: 14px !important;
      }

      table#canspamBar td a {
        display: block !important;
        margin-top: 10px !important;
      }
      }

      @media only screen and (max-width: 480px) {
        table#canspamBar td {
          font-size: 14px !important;
        }

        table#canspamBar td a {
          display: block !important;
          margin-top: 10px !important;
        }
      }

      @media only screen and (max-width: 480px) {
        table#canspamBar td {
          font-size: 14px !important;
        }

        table#canspamBar td a {
          display: block !important;
          margin-top: 10px !important;
        }
      }

      @media only screen and (max-width: 480px) {
        table#canspamBar td {
          font-size: 14px !important;
        }

        table#canspamBar td a {
          display: block !important;
          margin-top: 10px !important;
        }
      }

      @media only screen and (max-width: 480px) {
        table#canspamBar td {
          font-size: 14px !important;
        }

        table#canspamBar td a {
          display: block !important;
          margin-top: 10px !important;
        }
      }
    </style>
  </head>
  <body style="padding:0; margin:0 auto; width:100%; max-width:600px">
    <table width="600" cellspacing="0" cellpadding="0" style="background:#ffffff;" align="center">
      <tr>
        <td>
          <span style="font-size: 1px; color: #ffffff;">Loyalty Credit</span>
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" style="width:100%; margin-top: 12px; margin-bottom: 15px;">
            <tr>
              <td align="left" vertical-align="middle" width="275">
                <a href="https://www.taggd.com/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Logo">
                  <img src="https://taggd.gumlet.io/mailers/store-credit/taggd-brand-logo.png" alt="logo" style="width: 110px;">
                </a>
              </td>
              <td align="center" width="85">
                <a style="color: #000; text-decoration: none; font-weight: bold; display: inline-block; padding-bottom: 4px; line-height: 1;border-bottom: 2px solid #000;" href="https://taggd.com/products/4801/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Menu1">Women</a>
              </td>
              <td align="center" width="85">
                <a style="color: #000; text-decoration: none; font-weight: bold; display: inline-block; padding-bottom: 4px; line-height: 1;border-bottom: 2px solid #000;" href="https://www.taggd.com/products/kids-fashion/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Menu2">Kids</a>
              </td>
              <td align="center" width="85">
                <a style="color: #000; text-decoration: none; font-weight: bold; display: inline-block; padding-bottom: 4px; line-height: 1;border-bottom: 2px solid #000;" href="https://www.taggd.com/products/beauty/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Menu3">Beauty</a>
              </td>
              <td align="center" width="85">
                <a style="color: #000; text-decoration: none; font-weight: bold; display: inline-block; padding-bottom: 4px; line-height: 1;border-bottom: 2px solid #000;" href="https://www.taggd.com/products/home-decor?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Menu4">Decor</a>
              </td>
              <td align="center" width="85">
                <a style="color: #db4a4f; text-decoration: none; font-weight: bold; display: inline-block; padding-bottom: 4px; line-height: 1; border-bottom: 2px solid #db4a4f;" href="https://www.taggd.com/collection/84/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Menu5">Sale</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Newsletter body Start -->
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0px 0; margin-top: 5px;">
            <tr>
              <td align="center">
                <a href="https://www.taggd.com/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=loyalty_credit&utm_term=ProductLink1">
                  <img src="https://taggd.gumlet.io/mailers/store-credit/reward-cashback-img.png" border="0" alt="Reward Cashback" style="display: block; width:100%;" />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 30px;">
          <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
            <tr>
              <td>
                <p style="margin-top: 5px; font-size: 14px; color: #4d4d4d; text-transform: uppercase; margin-bottom: 5px; letter-spacing: 0.15em;">Hello</p>
                <p style="margin-top: 5px; font-size: 32px; color: #000000; font-weight: 600;  margin-bottom: 10px; padding-left: 3px;">${alert.getName()}</p>
                <p style="margin-top: 5px; font-size: 16px; color: #4d4d4d; font-weight: 400; margin-bottom: 10px; line-height:24px;">We got you a little something...Taggd. We've added <strong style="color: #000;">${alert.getCashbackPercentage()}% reward points</strong> to say thank you to our amazing customers, like you! </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 30px;">
          <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0px 0; margin-top: 5px;">
            <tr>
              <td>
                <p style="margin-top: 5px; font-size: 40px; color: #cd3a62; text-transform: uppercase; margin-bottom: 0px; font-weight: 700; ">
                  <span style="margin-right:2px;">
                    <img width="12" src="https://taggd.gumlet.io/mailers/store-credit/rupee-icon.png" alt="rupee-icon">
                  </span>${alert.getAmount()}
                </p>
                <p style="margin-top: 5px; font-size: 16px; color: #4d4d4d;margin-bottom: 3px;">On your purchase of order ID <span>#${alert.getOrderNumber()} <span>. </p>
                <p>
                  <a href="https://taggd.com/" style="border: 2px solid #000000; color:#000; background:#ffffff; text-decoration: none; font-weight: 600; font-size: 18px; padding: 9px 25px; display: inline-block;">Redeem Reward <img width="18px" src="https://taggd.gumlet.io/mailers/store-credit/arrow-icon.png" alt="rupee-icon">
                  </a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Newsletter body End -->
      <!-- Newsletter Footer Section -->
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0px 0; margin-top: 30px; background: #ffffff;">
            <tr>
              <td align="center">
                <a href="https://www.taggd.com/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=loyalty_credit&utm_term=ProductLink2">
                  <img src="https://taggd.gumlet.io/mailers/store-credit/why-choose-taggd.png" border="0" alt="30K+ Exclusive Styles" style="display: block; width:100%;" />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" style="width:100%;  margin-top: 40px; background: #ffffff;">
            <tr>
              <td align="center">
                <a href="https://www.taggd.com/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Heading2">
                  <img src="https://taggd.gumlet.io/mailers/store-credit/heading-lets-hang-on.png" alt="taggd" style="width:100%; margin-bottom:10px;">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" style="background: #ffffff; text-align:center; font-family: 'Open Sans', sans-serif; padding: 0px 0 12px; margin-top:10px;">
                <a href="https://www.instagram.com/taggd_official/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Social1" style="margin-right:10px; display: inline-block;">
                  <img width="26" height="26" src="https://static-assest.s3.ap-south-1.amazonaws.com/mailers/store-credit/icon-instagram.png" border="0" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/onceuponatrunkofficial/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Social2" style="margin-right:10px; display: inline-block;">
                  <img width="30" height="30" src="https://static-assest.s3.ap-south-1.amazonaws.com/mailers/store-credit/icon-facebook.png" border="0" alt="Facebook">
                </a>
                <a href="https://www.youtube.com/channel/UCYV1vnMPhPE1PwYIJCH-Kyg/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Social3" style="margin-right:10px; display: inline-block;">
                  <img width="30" height="30" src="https://static-assest.s3.ap-south-1.amazonaws.com/mailers/store-credit/icon-youtube.png" border="0" alt="Youtube">
                </a>
                <a href="https://in.pinterest.com/onceuponatrunkofficial/_created/?utm_source=smartech&utm_medium=email_13102022&utm_campaign=Grand_Fashion_Sale&utm_term=Social4" style="display: inline-block;">
                  <img width="30" height="30" src="https://static-assest.s3.ap-south-1.amazonaws.com/mailers/store-credit/icon-pinterest.png" border="0" alt="Pinterest">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>